@use "../abstracts" as *;

@each $color, $shade in $colors {
  @each $prop, $value in $shade {
    .text-#{$color}-#{$prop} {
      color: var(--clr-#{$color}-#{$prop}) !important;
    }

    .bg-#{$color}-#{$prop} {
      background-color: var(--clr-#{$color}-#{$prop}) !important;
    }

    .active > .nav-#{$color}-#{$prop} {
      border-bottom: 4px solid var(--clr-#{$color}-#{$prop});

      @media (min-width: $tablet-breakpoint) {
        border-bottom: none;
        background-color: var(--clr-#{$color}-#{$prop});
      }
    }

    // Planet navigation in the header - not to be confused with sub-page navigation in the main
    header .nav-#{$color}-#{$prop} {
      @media (min-width: $tablet-breakpoint) {
        border-top: 4px solid transparent;

        &:hover,
        &:focus {
          border-top: 4px solid var(--clr-#{$color}-#{$prop});
        }
      }
    }
  }
}
